<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Apelido</th>
      <th>Sexo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ User.Nome }}</td>
      <td>{{ User.Idade}}</td>
      <td>{{ User.Apelido}}</td>
      <td>{{ User.Sexo }}</td>
    </tr>
  </tbody>
</table>
